.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;

        div {
        margin: 10px;
        }

        .boxlogin {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 15px;
            font-weight: bold;  

                span {
                    font-weight: bold;
                }
        }

        .profile {
            display: none;
        }

        .categories {
            text-transform: uppercase;

                .linkcategory {
                    font-size: 14px;
                    padding: 0 10px;
                    text-decoration: none;
                    color: black;
                }
        }   
} 



