.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    font-size: 12px;

        img {
            max-width: 180px;
            max-height: 160px;
        }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

